/*
    RESETEO DE ESTILO
----------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--color-blanco);
}
h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}
/*
    VARIABLES
----------------------- */
:root{
    --color-primario: #8a562e;
    --color-secundario: #f19953;
    --color-blanco: #ffffff;
    --color-terciario: #d69b81;
    --color-cuaternario: #9fe4dc;
}
/*
        CABECERA
----------------------- */

.cabecera{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: var(--color-blanco);
    flex-wrap: wrap;
}
.logo__imagen{
    width: 100px;
}
ul{
    list-style: none;
}

nav{
    width: 75%;
}

.menu__option{
    color: var(--color-blanco);
}
/*
          PIE
----------------------- */
.pie{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.lista_contacto{
    display: flex;
    flex-direction: column;
}

.horario{
    justify-items: end;
}

/*
          BANNER
----------------------- */
.main{
    width: 100%;
}
.banner{
    width: 100%;
    position: relative;
    text-align: center;
}
.img_banner{
    width: 100%;
}
.titulo_banner{
    position: absolute;
    z-index: 1;
    top: 25%;
    font-size: 3.5rem;
    width: 100%;
    color: var(--color-primario);
}
.subtitulo_banner{
    position: absolute;
    z-index: 1;
    top: 40%;
    font-size: 2rem;
    width: 100%;
    color: var(--color-blanco);
}
/*
          CAJA INDEX
----------------------- */
.caja_texto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: nowrap;
    background: #fff;
    padding: 60px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    margin: 40px auto;
    width: 90%;
}

.contenido_caja {
    flex: 1 1 350px;
    text-align: left;
}
.titulo_caja {
    color: var(--color-primario);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.boton {
    display: inline-block;
    background-color: var(--color-secundario);
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--color-blanco);
    transition: background 0.3s;
}

.boton:hover {
    background-color: var(--color-blanco);
    color: var(--color-secundario);
    border: 2px dotted var(--color-secundario);
}

.imagen_caja{
    width: 280px;
}
/*
   PLAN ACTUACIÓN INDEX
----------------------- */

.plan_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 50px;
    padding: 50px;
}

.plan_grid article {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    transition: transform 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plan_grid article img {
    width: 200px;
    height: auto;
    margin: 10px 0;
}


.plan_grid article:hover {
    transform: scale(1.05);
}

/*
   NECESITAMOS INDEX
----------------------- */
.necesitamos{
    text-align: center;
    padding: 50px 200px;
}
.necesitamos img {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
}
