/*
    RESETEO DE ESTILO
----------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--color-blanco);
}
/*
    VARIABLES
----------------------- */
:root{
    --color-primario: #8a562e;
    --color-secundario: #f19953;
    --color-blanco: #ffffff;
    --color-terciario: #d69b81;
    --color-cuaternario: #9fe4dc;
}
/*
        CABECERA
----------------------- */

.cabecera{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: var(--color-blanco);
    flex-wrap: wrap;
}
.logo__imagen{
    width: 100px;
}
ul{
    list-style: none;
}

nav{
    width: 75%;
}

.menu__option{
    color: var(--color-blanco);
}
/*
          PIE
----------------------- */
.pie{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.lista_contacto{
    display: flex;
    flex-direction: column;
}

.horario{
    justify-items: end;
}

/*
          BANNER
----------------------- */
.main{
    width: 100%;
}
.banner{
    width: 100%;
    position: relative;
    text-align: center;
}
.img_banner{
    width: 100%;
}
.titulo_banner{
    position: absolute;
    z-index: 1;
    top: 25%;
    font-size: 3.5rem;
    width: 100%;
    color: var(--color-primario);
}
.subtitulo_banner{
    position: absolute;
    z-index: 1;
    top: 40%;
    font-size: 2rem;
    width: 100%;
    color: var(--color-blanco);
}
/*
          CAJA INDEX
----------------------- */
.caja_texto{
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: var(--color-secundario);
    margin: 0 auto;
    border-style: inset;
    display: flex;
}


.titulo_caja_texto{
    width: 100%;
    text-align: center;
}

.texto_caja_texto{
    width: 100%;
    text-align: center;
}

.subtitulo_caja_texto{
    width: 100%;
    text-align: center;
}

.boton{
    background-color: var(--color-blanco);
    color: var(--color-primario);
}

.imagen_caja{
    width: 60%;
}
.contenedor_imagen{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}
.contenido_caja{
    padding: 1rem 2rem;
    width: 75%
}