/*
    RESETEO DE ESTILO
----------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--color-blanco);
}
/*
    VARIABLES
----------------------- */
:root{
    --color-primario: #8a562e;
    --color-secundario: #f19953;
    --color-blanco: #ffffff;
    --color-terciario: #96A13A;
    --color-cuaternario: #9fe4dc;
}
/*
        CABECERA
----------------------- */

.cabecera{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.menu{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    color: var(--color-blanco);
}
.logo__imagen{
    width: 100px;
}

ul{
    list-style: none;
}

nav{
    width: 75%;
}

.menu__option{
    color: var(--color-blanco);
}

.pie{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.lista_contacto{
    display: flex;
    flex-direction: column;
}

.horario{
    justify-items: end;
}